name: Python package

on: [push, pull_request]

jobs:
  build-n-publish:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # see setup.py for supported versions
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - pypy3
        numpy-version:
          - '1.20'
          - '1.19'
          # - 1.18
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies—numpy
      run: |
        pip install 'numpy~=${{ matrix.numpy-version }}'
    - name: Install dependencies—pip
      run: |
        pip install .
    - name: Tests
      run: |
        python -c 'import _makearq; from make_arq import make_arq; print(make_arq.main)'
        make_arq -h
